<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.lyadmin.modules.sys.mapper.SysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.ly.lyadmin.modules.sys.model.SysMenu" >
    <id column="menu_id" property="menuId" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="perms" property="perms" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, parent_id, name,menu_type,url, perms, type, icon, order_num
  </sql>

  <select id="queryListParentId" resultMap="BaseResultMap">
      select * from sys_menu where parent_id = #{parentId} order by order_num asc
  </select>

  <select id="queryListParentIdAndMenuType" resultMap="BaseResultMap">
      select * from sys_menu where parent_id = #{parentId} and menu_type = #{menuType} order by order_num asc
  </select>

</mapper>